html {
    background-image: url(images/ash-background.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

@media only screen and (max-device-width: 720px) {
    html { 
        background-image: url(images/us-bali.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        
    
    }

    
    
}



