* {
    box-sizing: border-box;
}

html {
    background: url(https://s3-us-west-1.amazonaws.com/onedare.com/images/ash-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;

}

@media only screen and (max-device-width: 1080px) and (max-device-height: 1920px) {
    html {
        background: url(https://s3-us-west-1.amazonaws.com/onedare.com/images/us-bali.jpg) no-repeat center center fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 100%;
        width: 100%;



    }


}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #f7f5f0;
}

a {
    text-decoration: none;
    color: #0499ff;
}

a:hover {
    color: #6633ff;
}

.main-nav {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.nav .name {
    display: none;
}

.nav li {
    padding: 5px 10px 10px 10px;
}

.nav a {
    transition: all .5s;
}

.nav a:hover {
    color: white
}

@media screen and (min-width: 720px) {
    .flex {
        display: flex;
        max-width: 1200px;
        justify-content: space-around;
        margin: 0 auto;
    }

    .nav {
        max-width: 1200px;
    }

    .nav .name {
        display: block;
        margin-right: auto;
        color: white;
    }
}
